.footer--wrapper{
  background-color: #1D242B;;
}

.footer{
  padding: 64px 15px;
}

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list{
  display: flex;
}

.social-list__link{
  display: block;
  box-sizing: content-box;
}

.footer__text{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; 
}

.social__icon-footer{
  fill: #0077C0;
}

.footer__logo,
.footer__logo-link{
  display: flex;
  align-items: center;
}

.wakanda__name-footer{
  color: #FAFAFA;
}
