:root{
  --travel-list-gap: 24px;
  --card-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
  0px 1px 1px 0px rgba(0,0,0,0.14),
  0px 1px 3px 0px rgba(0,0,0,0.12);
}

/***************** C O M P O N E N T  *****************/
.component__btn{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: center;

  border-radius: 10px;
  color: #FFF;
  background-color: #0077C0;  

  
  padding: 3px 0px;
  width: 160px;
  
  display: inline-block;
}

.component-header{
  color: #FAFAFA;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3px;
}

.component-text{
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.5px;
}

.component-logo {
  margin-right: auto;
}

.logo-component{
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-left: 8px;
}

* {
  font-family: sans-serif;
}
/***************** C O M P O N E N T  *****************/
.navigation-wraper{
  position: fixed;
  box-shadow: var(--card-shadow);
  background-color: #FFF;
  top: 0;
  left: 0;
  right: 0;
}

.container{
  width: 1116px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.navigation__menu{
  justify-self: flex-end;
}

.navigation{
  display: grid;
  align-items: center;
  grid-template-columns: auto 4fr auto;
  column-gap: 32px;
  padding-top: 29px;
  padding-bottom: 29px;
}

.navigation__list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 32px;
}

.navigation__item{
  display: grid;
  justify-items: center;
}

.navigation__link{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navigation__logo-link{
  display: flex;
}




/********************   H E R O  *********************/
.hero{
  display: flex;
}

.hero__content{
  margin-top: 144px;
  width: 609px;
}

.hero__title{
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px; 
  letter-spacing: -0.5px;
  
  margin-bottom: 27px;
}

.hero__text{
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  margin-bottom: 35px;
  width: 360px;
}

/********************   S O C I A L  *********************/
.social{
  margin-top: 72px;
}

.social__content{
  padding: 32px 0;
}
.socil__list{
  display: flex;
  justify-content: space-between;

  padding: 24px 0;
}

.social__icon{
  width: 153px;
  height: 48px;
}

/********************   F E A T U R E  *********************/
.feature--wrapper{
  background-color: #0077C0;
}

.feature{
  padding-top: 80px;
  padding-bottom: 140px;
}

.feature__texts-content{
  text-align: center;
  margin-bottom: 40px;
}

.feature__header{
  margin-bottom: 8px;
}

.feature__list{
  display: flex;
}

.feature__item:not(:last-child){
  margin-right: 24px;
}

.feature__img{
  margin-bottom: 28px;
}

.feature__icon{
  width: 42px;
  height: 40px;
}

.feature__title{
  color: #FAFAFA;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 16px;
}

.feature__sub-text{
  color: #FAFAFA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/***************** T E S T I M O N I A L *********************/
.testimonial-wrapper{
  background-color: #a5abb8;
}

.testimonial{
  padding: 87px 0 70px;
}

.testimonial__content{
  text-align: center;
  margin-bottom: 43px;
}

.testimonial__header{
  color: #0077C0;
  margin-bottom: 16px;
}

.testimonial__text{
  color: #000;
}

.testimonial__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.testimonial__item{
  padding: 20px;
  box-sizing: border-box;
  background: #FFF;

  color: #000;
  
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.5px;
}

.testimonial__user-info{
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.testimonial__image{
  background-color: chocolate;
  border-radius: 50%;
  width: 48px;
  height: 48px;

  margin-right: 8px;
}

.testimonial__user-info{
  color: #000;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

/************** T R A V E L *********************/
.travel__header{
  color: #0077C0;
  text-align: center;
}

.travel__header{
  margin-bottom: 50px;
}

.travel__list{
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--travel-list-gap));
  margin-top: calc(-1 * var(--travel-list-gap));
}

.travel__item{
  flex-basis: calc(100% / 3 - 24px);
  margin-left: var(--travel-list-gap);
  margin-top: var(--travel-list-gap);
}

.card__content{
  padding: 10px;
}

.card{
  border-radius: 15px;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}

.travel__text{
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  margin-top: 15px;
}























/***************** F O O T E R *********************/
.footer--wrapper{
  background-color: #1D242B;;
}

.footer{
  padding-top: 64px;
}

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list{
  display: flex;
}

.social-list__link{
  display: block;
  box-sizing: content-box;
}

.footer__text{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; 
}

.social__icon-footer{
  fill: #0077C0;
}

.footer__logo,
.footer__logo-link{
  display: flex;
  align-items: center;
}

.wakanda__name-footer{
  color: #FAFAFA;
}

.containerss{
  display: grid;
  width: 1200px;
  margin: 20px auto;
  grid-template-columns: repeat(5, calc(100% / 5));
  gap: 20px 20px;
}
